<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action
            type="Redirect"
            url="https://{HTTP_HOST}/{R:1}"
            redirectType="Permanent"
            appendQueryString="true" />
        </rule>

        <rule name="Forward to Expo" stopProcessing="true">
          <match url="(.*)" />
          <action
            type="Rewrite"
            url="http://127.0.0.1:8081/{R:1}"
            appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <proxy>
      <reverseProxy enabled="true" />
    </proxy>
  </system.webServer>
</configuration>
